@use "../helpers" as *;

.soc1als {
  &__item {
    display: flex;
  }

  &__list {
    display: flex;
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(14);
    }

    &-link {
      color: var(--color-light);
    }
  }
}